# Extracción, Transformación y Carga de datos(ETL)

Este conjunto de operaciones mencionadas: Extracción, transformación y Carga de datos, es fundamental para tener una buena consistencia y calidad de datos. En este notebook se verán las librerías a usar, archivos, se hará manejo de datos nulos, tipos de datos, entre otros casos. Dejarán los datos listos para analizar en nuestro EDA (Análisis exploratorio de datos).

### Importamos librerías

Estas librerías nos permiten manipular los datos y prepararlos para ser analizados.

In [58]:
import pandas as pd
import numpy as np
import Herramientas as Herr
import warnings
warnings.filterwarnings('ignore')

### Carga de datos

Se realiza la lectura del dataset que se entregó para el proyecto. Para ello, utilizamos la librería Pandas.

In [59]:
data_hechos = pd.read_excel('Datasets/homicidios.xlsx',engine='openpyxl')
data_hechos

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,...,NaN,MOM,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,NaN,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,...,NaN,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,...,4071.0,NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,...,709.0,NaN,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

En este caso, se realiza la lectura igual que en el anterior, pero debemos seleccionar la hoja ya que ambos están en un mismo archivo de tipo .xlsx (Excel).

In [60]:
data_victimas = pd.read_excel('Datasets/homicidios.xlsx',sheet_name='VICTIMAS')
data_victimas

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,2021-12-12,2021,12,12,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,2021-12-13,2021,12,13,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,2021-12-20,2021,12,20,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,2021-12-30,2021,12,30,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,2021-12-15,2021,12,15,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

Se hará una revisión de de los tipos de datos de cada columna en ambos DataFrame, el primero será "data_hechos" y el segundo "data_victimas".

In [61]:
Herr.analizar_datos(data_hechos)

,Nombre,Tipos de Datos Únicos,% de Valores No Nulos,% de Valores Nulos,Cantidad de Valores Nulos
0,ID,[<class 'str'>],100.00,0.00,0
1,N_VICTIMAS,[<class 'int'>],100.00,0.00,0
2,FECHA,[<class 'pandas._libs.tslibs.timestamps.Timest...,100.00,0.00,0
3,AAAA,[<class 'int'>],100.00,0.00,0
4,MM,[<class 'int'>],100.00,0.00,0
5,DD,[<class 'int'>],100.00,0.00,0
6,HORA,"[<class 'datetime.time'>, <class 'str'>, <clas...",100.00,0.00,0
7,HH,"[<class 'int'>, <class 'str'>]",100.00,0.00,0
8,LUGAR_DEL_HECHO,[<class 'str'>],100.00,0.00,0
9,TIPO_DE_CALLE,[<class 'str'>],100.00,0.00,0
10,Calle,"[<class 'str'>, <class 'float'>]",99.86,0.14,1
11,Altura,[<class 'float'>],18.53,81.47,567
12,Cruce,"[<class 'str'>, <class 'float'>]",75.43,24.57,171
13,Dirección Normalizada,"[<class 'str'>, <class 'float'>]",98.85,1.15,8
14,COMUNA,[<class 'int'>],100.00,0.00,0
15,XY (CABA),[<class 'str'>],100.00,0.00,0
16,pos x,[<class 'str'>],100.00,0.00,0
17,pos y,[<class 'str'>],100.00,0.00,0
18,PARTICIPANTES,[<class 'str'>],100.00,0.00,0
19,VICTIMA,[<class 'str'>],100.00,0.00,0
20,ACUSADO,[<class 'str'>],100.00,0.00,0

Se observa que hay 20 columnas, 5 de ellas con más de un tipo de dato y solo 4 con nulos. Además, debemos revisar si hay datos que no figuren como nulos pero estén vacíos.

Se revisan los tipos de datos y nulos de "data_victimas",

In [62]:
Herr.analizar_datos(data_victimas)

,Nombre,Tipos de Datos Únicos,% de Valores No Nulos,% de Valores Nulos,Cantidad de Valores Nulos
0,ID_hecho,[<class 'str'>],100.0,0.0,0
1,FECHA,[<class 'pandas._libs.tslibs.timestamps.Timest...,100.0,0.0,0
2,AAAA,[<class 'int'>],100.0,0.0,0
3,MM,[<class 'int'>],100.0,0.0,0
4,DD,[<class 'int'>],100.0,0.0,0
5,ROL,[<class 'str'>],100.0,0.0,0
6,VICTIMA,[<class 'str'>],100.0,0.0,0
7,SEXO,[<class 'str'>],100.0,0.0,0
8,EDAD,"[<class 'int'>, <class 'str'>]",100.0,0.0,0
9,FECHA_FALLECIMIENTO,"[<class 'datetime.datetime'>, <class 'str'>]",100.0,0.0,0

Tenemos nueve columnas en total, tres de ellas con más de un único tipo de datos y ninguna con valores nulos. Sin embargo, como mencioné previamente, es importante revisar que no haya datos que no figuren como nulos pero estén vacíos.

--------------------------------------------------------------------------------------------------------------------------

## Transformación de los datos

### Dataframe data_hechos

In [63]:
data_hechos.head(5)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

Se eliminarán las columnas "Fecha" y "Hora" porque las mismas ya están representadas de manera dividida en otras, las cuales son para "Fecha": "AAAA" para el año, "MM" para el mes y "DD" para el día, y "Hora" es la columna "HH".

In [64]:
data_hechos = data_hechos.drop(columns=['FECHA','HORA'])
data_hechos.head(5)

,ID,N_VICTIMAS,AAAA,MM,DD,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016,1,1,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016,1,2,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016,1,3,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016,1,10,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016,1,21,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

Se revisa la existencia de duplicados en el Dataframe.

In [65]:
duplicados_hechos = data_hechos.duplicated()
duplicados_hechos.value_counts()

False    696
Name: count, dtype: int64

No se encontró ningún duplicado. Ahora se procederá a cambiar los nombres de las columnas para comprender mejor qué datos contiene cada una.

In [66]:
data_hechos.columns = ['Id_hecho','Nro_victimas','Anio','Mes','Dia','Hora','Lugar_hecho','Tipo_calle','Calle','Altura','Cruce','Direccion_normalizada','Comuna','Xy_plana','Long_x','Lat_y','Participantes','Victima','Acusado']

Se revisarán las columnas para verificar el tipo correcto de datos y, si es necesario, aplicar correcciones. Para esto, se utilizará el módulo propio que importé llamado Herramientas.

In [67]:
Herr.analizar_datos(data_hechos)

,Nombre,Tipos de Datos Únicos,% de Valores No Nulos,% de Valores Nulos,Cantidad de Valores Nulos
0,Id_hecho,[<class 'str'>],100.00,0.00,0
1,Nro_victimas,[<class 'int'>],100.00,0.00,0
2,Anio,[<class 'int'>],100.00,0.00,0
3,Mes,[<class 'int'>],100.00,0.00,0
4,Dia,[<class 'int'>],100.00,0.00,0
5,Hora,"[<class 'int'>, <class 'str'>]",100.00,0.00,0
6,Lugar_hecho,[<class 'str'>],100.00,0.00,0
7,Tipo_calle,[<class 'str'>],100.00,0.00,0
8,Calle,"[<class 'str'>, <class 'float'>]",99.86,0.14,1
9,Altura,[<class 'float'>],18.53,81.47,567
10,Cruce,"[<class 'str'>, <class 'float'>]",75.43,24.57,171
11,Direccion_normalizada,"[<class 'str'>, <class 'float'>]",98.85,1.15,8
12,Comuna,[<class 'int'>],100.00,0.00,0
13,Xy_plana,[<class 'str'>],100.00,0.00,0
14,Long_x,[<class 'str'>],100.00,0.00,0
15,Lat_y,[<class 'str'>],100.00,0.00,0
16,Participantes,[<class 'str'>],100.00,0.00,0
17,Victima,[<class 'str'>],100.00,0.00,0
18,Acusado,[<class 'str'>],100.00,0.00,0

Comenzaré con la columna ``Horas``, la cual tiene dos tipos de datos: enteros y cadena de texto. Ver sus valores y tomar decisiones sobre ellos.

In [68]:
data_hechos['Hora'].value_counts().sort_values()

Hora
SD     1
2     17
13    17
0     23
4     23
1     24
15    25
20    26
3     26
11    27
23    28
21    29
22    30
19    30
16    30
17    30
10    31
18    31
8     31
12    32
14    33
5     35
9     36
6     40
7     41
Name: count, dtype: int64

El valor "SD" significa sin datos, al ser un 0.14% del total, se decide eliminarlo, para trabajar con un solo tipo de dato en la columna. Además, se eligió NO imputar el valor, ya que colocar una hora en un siniestro que no es la correcta podría quitarle consistencia a nuestros datos. Con esta acción se corrige a un solo tipo de dato.

In [69]:
data_hechos = data_hechos.drop(data_hechos[data_hechos['Hora'] == 'SD'].index)

Continuaré con la columna ``calle`` que también posee dos tipos de datos: cadena de texto y flotante, para ver qué decisión se toma sobre la misma.

In [70]:
data_hechos['Calle'].value_counts()

Calle
PAZ, GRAL. AV.                                56
RIVADAVIA AV.                                 19
DEL LIBERTADOR AV.                            18
AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI    14
ALBERDI, JUAN BAUTISTA AV.                    13
                                              ..
PILCOMAYO                                      1
CERVANTES                                      1
CONGRESO AV.                                   1
AUSTRALIA AV.                                  1
PADRE CARLOS MUJICA                            1
Name: count, Length: 279, dtype: int64

Se observa que hay registros que tienen números, en este caso, para indicar la autopista del siniestro, y en otros casos, la numeración del lugar. Además, tenemos un valor nulo. Al ser un solo registro que representa el 0.14% del total, será eliminado para poder trabajar con el dataframe de forma correcta. Revisaremos cuál es el registro y luego lo eliminaremos.

In [71]:
calle_sd = data_hechos[data_hechos['Calle'].isnull()]
calle_sd
data_hechos = data_hechos.dropna(subset=['Calle'])

Se pasará toda la columna a tipo string para evitar el doble tipo de datos.

In [72]:
data_hechos['Calle'] = data_hechos['Calle'].astype(str)

Continuaré con la columna ``cruce``, la cual posee dos tipos de datos: cadena de texto y flotante, para ver qué decisión se toma sobre ella.

In [73]:
data_hechos['Cruce'].unique()

array(['FERNANDEZ DE LA CRUZ, F., GRAL. AV.', 'DE LOS CORRALES AV.', nan,
       'VILLEGAS, CONRADO, GRAL.', 'SAENZ PE?A, LUIS, PRES.',
       'ESCALADA AV.', 'GONZALEZ, JOAQUIN V.', 'IRIGOYEN, BERNARDO DE',
       'VERA', 'QUINQUELA MARTIN, BENITO', 'JANER, ANA MARIA',
       'GARCIA GRANDE DE ZEQUEIRA, SEVERO', 'CURAPALIGUE',
       'ALSINA, ADOLFO', '27 DE FEBRERO AV.', 'VEDIA', 'DIAZ, AVELINO',
       '9 DE JULIO AV.', 'DEHEZA', 'ROCA, CNEL. AV.',
       'BONAVENA, OSCAR NATALIO', 'CALLAO AV.', 'VALLE, ARISTOBULO DEL',
       'QUIRNO', 'ZUVIRIA', 'PUEYRREDON AV.', 'RIVERA INDARTE AV.',
       'MURGUIONDO', 'BALBASTRO', 'DEL LIBERTADOR AV.', 'DORREGO AV.',
       'OLAZABAL AV.', 'PAZ, GRAL. AV.', 'FIGUEROA ALCORTA, PRES. AV.',
       'LIMA', 'CARRASCO AV.', 'ESPINOSA', 'SARAZA', 'FILIBERTO',
       'SCAPINO, RODOLFO', 'MIRALLA', 'CAMARONES', 'ALEM, LEANDRO N. AV.',
       'JUJUY AV.', 'UDAONDO, GUILLERMO AV.', 'RIVADAVIA AV.', 'MACHAIN',
       'PUAN', 'TUCUMAN', 'EREZCANO', 'FALCON, RAMON L.,CNEL.', 'NU?EZ',
       'LA PAMPA', 'MITRE, EMILIO', 'MOSCONI GENERAL AV.', 'MEXICO',
       'ALBERTI', 'DONADO', 'CHAVEZ, JORGE', 'SUAREZ, JOSE LEON',
       'SANTIAGO DE COMPOSTELA AV.', 'FRAGA', 'BARRAGAN', 'CARHUE',
       'AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI', 'GUARDIA NACIONAL',
       'TRONADOR', 'TAGLE', 'TRIUNVIRATO AV.',
       'BONORINO, ESTEBAN, CNEL. AV.', 'ALBERDI, JUAN BAUTISTA AV.',
       'TINOGASTA', 'PAVON AV.', '24 DE NOVIEMBRE',
       'SANCHEZ DE BUSTAMANTE', '2 DE ABRIL DE 1982', 'PINEDO, INT.',
       'LADINES', 'BLANCO ENCALADA', 'VUELTA DE OBLIGADO',
       'RAMOS MEJIA, JOSE MARIA, DR. AV.', 'BRASIL', 'CEVALLOS, VIRREY',
       'TABORDA, DIOGENES', 'CORDOBA AV.', 'DEAN FUNES', 'GODOY CRUZ',
       'FOREST AV.', 'POMAR, GREGORIO TTE. CNEL.',
       'BALBIN, RICARDO, DR. AV.', 'AUTOPISTA 25 DE MAYO', 'CASTRO',
       'SAN PEDRITO AV.', 'MEMBRILLAR', 'PASEO COLON AV.', 'SAAVEDRA',
       'ACHUPALLAS', 'VELEZ SARSFIELD AV.', 'BONPLAND', 'RIGLOS', 'ARIAS',
       'PARAGUAY', 'LIBERTAD', 'FOURNIER', 'FRAGATA PRES. SARMIENTO',
       'TANDIL', 'AUTOPISTA DELLEPIANE LUIS TTE. GRAL.', 'PAVON',
       'LOS CEDROS', 'GUTIERREZ, RICARDO', 'VILLAFLOR, AZUCENA',
       'CAMPANA', 'LAUTARO', 'CORVALAN', 'VARELA AV.',
       'GOLETA SANTA CRUZ', 'VILLARINO', 'MORAN, PEDRO', 'SAN BLAS',
       'PERON, JUAN DOMINGO, TTE. GENERAL', 'HERRERA',
       'MORENO, JOSE MARIA AV.', 'SCHMIDL, ULRICO', 'VALLEJOS', 'ECUADOR',
       'CALLE 12 (NO OFICIAL)', 'RODRIGUEZ PE?A', 'GARCIA, MARTIN AV.',
       'BRASIL AV.', 'PUENTE DISTRIBUIDOR SCALABRINI ORTIZ',
       'SALGUERO, JERONIMO', 'ZAPATA', 'ZAVALETA', 'ESTADOS UNIDOS',
       'GUEMES', 'JARAMILLO', 'PORTELA', 'PIROVANO', 'MAIPU',
       'TREINTA Y TRES ORIENTALES', 'CRUZ, OSVALDO AV.', 'ARGENTINA AV.',
       'LARRAYA', 'CA?ADA DE GOMEZ', 'SAN MARTIN AV.', 'PUNTA ARENAS',
       'RABANAL, FRANCISCO, INTENDENTE AV.', 'SAN NICOLAS',
       'PERON, EVA AV.', 'GOYENA, PEDRO AV.', 'DIAZ, CESAR, GRAL.',
       'DON BOSCO', 'LA RIOJA', 'LUJAN', 'TRAFUL', 'LA PLATA AV.',
       'CASEROS AV.', 'HUMAITA', 'RINCON', 'GALICIA', 'MANZANARES',
       'BARCO CENTENERA DEL', 'INDEPENDENCIA AV.', 'BROWN, ALTE. AV.',
       'BELAUSTEGUI, LUIS, DR.', 'LOPEZ, VICENTE',
       'CHILAVERT, MARTINIANO, CORONEL', 'GALVAN', 'SALVADORES, CNEL.',
       'OLAVARRIA', 'ROSARIO', 'BOYACA AV.', 'SAENZ AV.', 'RONDEAU',
       'AZUL', 'GAONA AV.', 'ALVAREZ THOMAS AV.',
       'ARTIGAS, JOSE GERVASIO, GRAL.', 'AGUILAR', 'LOPE DE VEGA AV.',
       'ARGERICH', 'URIBURU JOSE E., PRES.', 'OLAGUER Y FELIU, VIRREY',
       'PERDRIEL', 'ALVAREZ JONTE AV.', 'PEDERNERA', 'JURAMENTO AV.',
       'CARBONARI, FRANCISCO, CMTE.', 'NAZCA', 'AGUERO', 'HUMBERTO 1?',
       'THAMES', 'SANCHEZ DE LORIA', 'PICHINCHA', 'VIAMONTE',
       'PRIMERA JUNTA', 'JUNCAL', 'LACROZE, FEDERICO AV.',
       'FINOCHIETTO ENRIQUE DR.', 'URQUIZA, GRAL.', 'HUERGO, ING. AV.',
       'ORTIZ DE OCAMPO', 'GARZON, EUGENIO, GRAL. AV.', 'COCHABAMBA',
       'GARAY, JUAN DE AV.', 'COLOMBRES', 'PERGAMINO', 'GASCON', 'BERUTI',
       'DELLEPIANE, LUIS, TTE. GRAL.', 'BERON DE ASTRADA', 'ZAPIOLA',
       'SUAREZ AV.', 'ECHEVERRIA', 'GUEMES, MACACHA',
       'GALLARDO, ANGEL AV.', 'SERRANO', 'TRES ARROYOS', 'SAN PEDRITO',
       'MANZONI', 'LARRAZABAL', 'VENTANA', 'DE LOS CONSTITUYENTES AV.',
       'GUEVARA', 'SEGUROLA AV.', 'CASTILLO, RAMON S., PRES. AV.', 'PERU',
       'SANTIAGO DEL ESTERO', 'MORENO, PERITO AV.', 'TERRADA', 'MEDINA',
       'YATAY', 'SAN JUAN AV.', 'GORDILLO, TIMOTEO', 'MOM', 'YERBAL',
       'JACQUES, AMADEO', 'AZCUENAGA', 'ORO?O, NICASIO',
       'MADERO, EDUARDO AV.', 'ALVAREZ, DONATO, TTE. GRAL. AV.',
       'FORMOSA', 'DIRECTORIO AV.', 'SANTANDER', 'ANDALGALA',
       'CONSTITUCION', 'REPUBLICA DE LA INDIA', 'CABILDO AV.', 'MENDOZA',
       'HONDURAS AV.', 'CASTA?ARES AV.', 'CAMPOS, LUIS M. AV.', 'MAURE',
       'AVELLANEDA AV.', 'TILCARA', 'BOLIVAR (NO OFICIAL)', 'GORRITI',
       'OLIVERA AV.', 'ALCORTA, AMANCIO AV.', 'LAFUENTE', 'BACACAY',
       'BLANES, JUAN MANUEL', 'CAMARGO', 'SUAREZ', 'JUSTO, JUAN B. AV.',
       'PIEDRAS', 'TILCARA AV.', 'LOYOLA', 'COMBATE DE LOS POZOS',
       'JAURES, JEAN', 'NOGOYA', 'GOMEZ, VALENTIN', 'MONTIEL',
       'WARNES AV.', 'ROFFO, ANGEL H., DR.',
       'ANCHORENA, TOMAS MANUEL DE, DR.', 'DIAZ, CNEL. AV.',
       'SOLDADO DE LA FRONTERA AV.', 'CARRANZA, ADOLFO P.', 'LACARRA AV.',
       'MERCEDES', 'EINSTEIN, ALBERTO', 'VIALE, LUIS', 'ALTA GRACIA',
       'GOYENECHE, ROBERTO PARQUE AV.', 'BEAZLEY', 'AUSTRIA',
       'LAS HERAS, GENERAL', 'CALVO, CARLOS', 'NAZCA AV.', 'CHIVILCOY',
       'GUARANI', 'SARMIENTO AV.', 'GIRIBONE', 'GUAMINI',
       'DE LA TORRE, LISANDRO', 'LARRALDE, CRISOLOGO AV.',
       'ROOSEVELT FRANKLIN D.', 'PIEDRA BUENA AV.',
       'TORRES Y TENORIO, PRES.', 'GUIRALDES, INT.', 'LAFUENTE AV.',
       'SANTA FE AV.', 'CASARES AV.', 'PILAR', 'ACOSTA, MARIANO',
       'GUZMAN AV.', 'CONGRESO AV.', 'EREZCANO AV.', 'TONELERO',
       'AGOTE, LUIS DR.', 'OLAZABAL', 'BRUIX AV.', 'EZEIZA',
       '3 DE FEBRERO', 'LAVALLE', 'HUGO, VICTOR'], dtype=object)

Se observa, al igual que en la columna "Calle", que hay registros que tienen números en su nombre, por eso se da este doble tipo de dato, a los nulos se decidió que se imputara el valor de "No_data" dado que representan el 24.5% del total de la columna.

In [74]:
data_hechos['Cruce'] = data_hechos['Cruce'].fillna("No_data")

Se cambiará el tipo de dato de la columna a unicamente string, para manipular un solo tipo de dato en la columna.

In [75]:
data_hechos['Cruce'] = data_hechos['Cruce'].astype(str)

Continuaré con la columna ``Direccion_normalizada``, la cual posee dos tipos de datos: cadena de texto y flotante, para ver qué decisión se toma sobre ella.

In [76]:
data_hechos['Direccion_normalizada'].unique()

array(['PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., GRAL. AV.',
       'PAZ, GRAL. AV. y DE LOS CORRALES AV.', 'ENTRE RIOS AV. 2034',
       'LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.',
       'SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.',
       '27 DE FEBRERO AV. y ESCALADA AV.',
       'NOGOYA y GONZALEZ, JOAQUIN V.',
       'BELGRANO AV. e IRIGOYEN, BERNARDO DE', 'ENTRE RIOS AV. 1366',
       'SCALABRINI ORTIZ, RAUL AV. y VERA',
       'REGIMIENTO DE PATRICIOS AV. y QUINQUELA MARTIN, BENITO',
       'ACOSTA, MARIANO y JANER, ANA MARIA',
       'DE LA TORRE, LISANDRO y GARCIA GRANDE DE ZEQUEIRA, SEVERO',
       'SUIPACHA 156', 'DIRECTORIO AV. y CURAPALIGUE',
       '9 DE JULIO AV. y ALSINA, ADOLFO',
       'PAZ, GRAL. AV. y 27 DE FEBRERO AV.', 'HOLMBERG y VEDIA',
       'CURAPALIGUE AV. y DIAZ, AVELINO', 'VIAMONTE y 9 DE JULIO AV.',
       'CABILDO AV. y DEHEZA', 'PAZ, GRAL. AV. y ROCA, CNEL. AV.',
       'ALCORTA, AMANCIO AV. y BONAVENA, OSCAR NATALIO',
       'CORRIENTES AV. y CALLAO AV.', 'HERRERA y VALLE, ARISTOBULO DEL',
       'LAFUENTE AV. y QUIRNO', 'PAZ, GRAL. AV. y ZUVIRIA',
       'MITRE, BARTOLOME y PUEYRREDON AV.',
       'DIRECTORIO AV. y RIVERA INDARTE AV.',
       'DELLEPIANE, LUIS, TTE. GRAL. y MURGUIONDO',
       'MORENO, JOSE MARIA AV. y BALBASTRO',
       'PAZ, GRAL. AV. y DEL LIBERTADOR AV.', 'LIMA 1483',
       'CORRIENTES AV. y DORREGO AV.',
       'AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI',
       'GORDILLO, TIMOTEO y FERNANDEZ DE LA CRUZ, F., GRAL. AV.', nan,
       'TRIUNVIRATO AV. y OLAZABAL AV.',
       'AUTOPISTA DELLEPIANE LUIS TTE. GRAL. y PAZ, GRAL. AV.',
       'CASTILLA, RAMON, MARISCAL y FIGUEROA ALCORTA, PRES. AV.',
       'CAMPOS, LUIS M. AV. 30', 'LIMA 1471', 'CIUDADELA y LIMA',
       'JUSTO, JUAN B. AV. y CARRASCO AV.', 'GAONA AV. y ESPINOSA',
       'DE LA TORRE, LISANDRO y SARAZA',
       'FIGUEROA ALCORTA, PRES. AV. y PUEYRREDON AV.',
       'ENTRE RIOS AV. y FILIBERTO', 'MAGARIÃ‘OS CERVANTES, A. 3900',
       'PAZ, GRAL. AV. y SCAPINO, RODOLFO',
       'AUTOPISTA DELLEPIANE LUIS TTE. GRAL. y MIRALLA',
       'SAN MARTIN AV. y CAMARONES',
       'PERON, JUAN DOMINGO, TTE. GENERAL y ALEM, LEANDRO N. AV.',
       'BELGRANO AV. y JUJUY AV.',
       'DEL LIBERTADOR AV. y UDAONDO, GUILLERMO AV.',
       'PAZ, GRAL. AV. y RIVADAVIA AV.',
       'LARRALDE, CRISOLOGO AV. y MACHAIN', 'LA PLATA AV. 2384',
       'ALBERDI, JUAN BAUTISTA AV. y PUAN',
       'PELLEGRINI, CARLOS y TUCUMAN',
       'RABANAL, FRANCISCO, INTENDENTE AV. y EREZCANO',
       'OLIVERA AV. y FALCON, RAMON L.,CNEL.',
       'AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y CASEROS AV.',
       'CERETTI y NUÃ‘EZ', 'LUGONES, LEOPOLDO AV. y LA PAMPA',
       'SALGUERO, JERONIMO y RIVADAVIA AV.',
       'ALBERDI, JUAN BAUTISTA AV. y MITRE, EMILIO',
       'MERCEDES y MOSCONI GENERAL AV.',
       'AUTOPISTA DELLEPIANE LUIS TTE. GRAL.', 'SOLIS y MEXICO',
       'SAN JUAN AV. y ALBERTI', 'MOSCONI GENERAL AV. y PAZ, GRAL. AV.',
       'PAZ, GRAL. AV. y DONADO', 'PAZ, GRAL. AV. y CHAVEZ, JORGE',
       'PERON, EVA AV. y SUAREZ, JOSE LEON',
       'ZINNY y SANTIAGO DE COMPOSTELA AV.',
       'LACROZE, FEDERICO AV. y FRAGA',
       'PELLEGRINI, CARLOS y DEL LIBERTADOR AV.',
       'AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y DON PEDRO DE MENDOZA AV.',
       'AUTOPISTA PERITO MORENO y BARRAGAN',
       'ALBERDI, JUAN BAUTISTA AV. y CARHUE', 'LUGONES y LA PAMPA',
       'AUTOPISTA 25 DE MAYO y AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI',
       'ALBERDI, JUAN BAUTISTA AV. y GUARDIA NACIONAL',
       'SALGUERO, JERONIMO 1410', 'ARIAS y TRONADOR',
       'DEL LIBERTADOR AV. y TAGLE',
       'AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM. 2.9',
       'LARRALDE, CRISOLOGO AV. y TRIUNVIRATO AV.', 'PERON, EVA AV. 4233',
       'ASAMBLEA AV. y BONORINO, ESTEBAN, CNEL. AV.',
       'RIVADAVIA AV. y RIVERA INDARTE AV.',
       'AUTOPISTA PERITO MORENO y ALBERDI, JUAN BAUTISTA AV.',
       'IRIGOYEN y TINOGASTA', 'ACOSTA, MARIANO y ROCA, CNEL. AV.',
       'CASTRO y PAVON AV.',
       'AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y BRASIL',
       'MIRAVE 3500', 'SAN JUAN AV. y 24 DE NOVIEMBRE',
       'LAS HERAS GENERAL AV. y SANCHEZ DE BUSTAMANTE',
       'PIEDRA BUENA AV. y 2 DE ABRIL DE 1982',
       'FIGUEROA ALCORTA, PRES. AV. y PINEDO, INT.',
       'SAN MARTIN AV. y LADINES', 'CABILDO AV. y BLANCO ENCALADA',
       'FIGUEROA ALCORTA, PRES. AV. y DORREGO AV.',
       'JURAMENTO AV. y VUELTA DE OBLIGADO',
       'DEL LIBERTADOR AV. y RAMOS MEJIA, JOSE MARIA, DR. AV.',
       'BROWN, ALTE. AV. 984', 'DEL LIBERTADOR AV. y LA PAMPA',
       'PICHINCHA AV. y BRASIL', 'INDEPENDENCIA AV. y CEVALLOS, VIRREY',
       'GARMENDIA AV. 4895', 'ALCORTA, AMANCIO AV. y TABORDA, DIOGENES',
       'MORENO, PERITO AV. y ZUVIRIA', 'ARAOZ y CORDOBA AV.',
       'PAZ, GRAL. AV. 15200', 'MADERO 900',
       'INDEPENDENCIA AV. y DEAN FUNES', 'JUSTO, JUAN B. AV. 5645',
       'AUTOPISTA PERITO MORENO (ALTURA VELEZ SARSFIELD)',
       'SANTA FE AV. y GODOY CRUZ', 'LACROZE, FEDERICO AV. y FOREST AV.',
       'PAZ, GRAL. AV. y MOSCONI GENERAL AV.',
       'LA PLATA AV. y POMAR, GREGORIO TTE. CNEL.',
       'GARCIA, MARTIN AV. 300', 'NUÃ‘EZ y BALBIN, RICARDO, DR. AV.',
       'PAZ, GRAL. AV. 4500', 'HUERGO, ING. AV. y AUTOPISTA 25 DE MAYO',
       'GARAY, JUAN DE AV. y CASTRO', 'DIRECTORIO AV. y SAN PEDRITO AV.',
       'AUTOPISTA 25 DE MAYO', 'FALCON, RAMON L.,CNEL. y MEMBRILLAR',
       'BELGRANO AV. y PASEO COLON AV.', 'ARENALES 3319',
       'REPUBLICA BOLIVARIANA DE VENEZUELA y SAAVEDRA',
       'JUSTO, JUAN B. AV. y ACHUPALLAS',
       'OLAVARRIA y VELEZ SARSFIELD AV.', 'LIMA y MEXICO',
       'CABRERA, JOSE A. y BONPLAND', 'AUTOPISTA 25 DE MAYO y BOEDO AV.',
       'DIRECTORIO AV. y RIGLOS',
       'PAZ, GRAL. AV. y BALBIN, RICARDO, DR. AV.',
       'TRAFUL y TABORDA, DIOGENES', 'IRIARTE, GRAL. AV. 3055',
       'DONADO y ARIAS', 'CORDOBA AV. y CALLAO AV.',
       'AUTOPISTA 25 DE MAYO KM. 8.3', 'JUSTO, JUAN B. AV. y PARAGUAY',
       'SARMIENTO y LIBERTAD', 'RIVADAVIA AV. 7121',
       'FERNANDEZ DE LA CRUZ, F., GRAL. AV. y RIVERA INDARTE AV.',
       'MORENO, PERITO AV. y FOURNIER', 'CASEROS AV. 1429',
       'GAONA AV. y FRAGATA PRES. SARMIENTO', 'MOZART y TANDIL',
       'MOZART y AUTOPISTA DELLEPIANE LUIS TTE. GRAL.',
       '24 DE NOVIEMBRE y PAVON', 'PAZ, GRAL. AV. y LOS CEDROS',
       'PAZ, GRAL. AV. y GUTIERREZ, RICARDO', 'GODOY CRUZ 2651',
       'ACHAVAL RODRIGUEZ, T., DR. AV. y VILLAFLOR, AZUCENA',
       'PAZ, GRAL. AV. y CAMPANA', 'CASTAÃ‘ARES AV. y LAUTARO',
       'GUIRALDES, INT. 2699', 'FERNANDEZ MORENO, BALDOMERO 2186',
       'LUGONES, LEOPOLDO AV.', 'NOGOYA 5940', 'ARGENTINA AV. y CORVALAN',
       'FERNANDEZ DE LA CRUZ, F., GRAL. AV. y VARELA AV.',
       'PAZ, GRAL. AV. y GOLETA SANTA CRUZ', 'VIEYTES y VILLARINO',
       'DE LOS CONSTITUYENTES AV. y MORAN, PEDRO',
       'DE LOS CONSTITUYENTES AV. 4900', 'CORDOBA AV. y LIBERTAD',
       'BRASIL y LIMA',
       'ESCALADA AV. y FERNANDEZ DE LA CRUZ, F., GRAL. AV.',
       'PARAGUAY y CALLAO AV.', 'JUSTO, JUAN B. AV. y SAN BLAS',
       'CHILE y 9 DE JULIO AV.',
       'MAIPU y PERON, JUAN DOMINGO, TTE. GENERAL',
       'SUAREZ AV. y HERRERA', 'SAN MARTIN AV. y FRAGATA PRES. SARMIENTO',
       'DIRECTORIO AV. y MORENO, JOSE MARIA AV.',
       'RABANAL, FRANCISCO, INTENDENTE AV. 2950',
       'PAZ, GRAL. AV. y SCHMIDL, ULRICO', 'NUEVA YORK 3696',
       'DE LOS CONSTITUYENTES AV. y VALLEJOS', 'CORRIENTES AV. y ECUADOR',
       'CASCO 133', 'DE MAYO AV. y 9 DE JULIO AV.',
       'CASTILLO, RAMON S., PRES. AV. y CALLE 12 (NO OFICIAL)',
       'FRAY JUSTO SANTAMARIA DE ORO 1930', 'MEXICO y DEAN FUNES',
       'ALBERDI, JUAN BAUTISTA AV. y ESCALADA AV.',
       'ENTRE RIOS AV. y BRASIL', 'DEL LIBERTADOR AV. y RODRIGUEZ PEÃ‘A',
       'TACUARI y GARCIA, MARTIN AV.', 'RIVADAVIA AV. y MURGUIONDO',
       '24 DE NOVIEMBRE 390', 'PASEO COLON AV. y BRASIL AV.',
       'LEGUIZAMON, MARTINIANO 901', 'CHIVILCOY AV. y PAZ, GRAL. AV.',
       'SUPERI y PAZ, GRAL. AV.',
       'LUGONES, LEOPOLDO AV. y PUENTE DISTRIBUIDOR SCALABRINI ORTIZ',
       'HUGO, VICTOR 2639', 'CORDOBA AV. y SALGUERO, JERONIMO',
       'CABILDO AV. y NUÃ‘EZ', 'BONIFACIO, JOSE 2114',
       'FIGUEROA ALCORTA, PRES. AV. 5400',
       'REPUBLICA BOLIVARIANA DE VENEZUELA 2135',
       'LACROZE, FEDERICO AV. y ZAPATA', 'IRIARTE, GRAL. AV. y ZAVALETA',
       '9 DE JULIO AV. y ESTADOS UNIDOS',
       'FRAY JUSTO SANTAMARIA DE ORO y GUEMES',
       'DEL LIBERTADOR AV. y JARAMILLO', 'PAZ, GRAL. AV. y MACHAIN',
       'DIRECTORIO AV. y PORTELA', 'LAVALLE y ALEM, LEANDRO N. AV.',
       'USPALLATA y PIROVANO', 'AUTOPISTA 25 DE MAYO y VARELA AV.',
       'SANTA FE AV. y MAIPU', 'ALVEAR AV. y DEL LIBERTADOR AV.',
       'PAVON AV. y TREINTA Y TRES ORIENTALES', 'PAZ, GRAL. AV. 5750',
       'VIEYTES y CRUZ, OSVALDO AV.',
       'AUTOPISTA DELLEPIANE LUIS TTE. GRAL. y ESCALADA AV.',
       'ALBARIÃ‘O y ARGENTINA AV.', 'RAMIREZ DE VELASCO, JUAN 1211',
       'FERNANDEZ DE LA CRUZ, F., GRAL. AV. y LARRAYA',
       'RIESTRA AV. y CAÃ‘ADA DE GOMEZ', 'GALLO y CORDOBA AV.',
       'ARANGUREN, JUAN F., DR. 611',
       'AUTOPISTA PERITO MORENO y AUTOPISTA 25 DE MAYO',
       'CHORROARIN y SAN MARTIN AV.', 'COSQUIN y ROCA, CNEL. AV.',
       'ROCA, CNEL. AV. 3555', 'WARNES AV. y PUNTA ARENAS',
       'BARCO CENTENERA DEL y RABANAL, FRANCISCO, INTENDENTE AV.',
       'MOSCONI GENERAL AV. y SAN NICOLAS',
       'LAFUENTE AV. y PERON, EVA AV.', 'ROCA, CNEL. AV. y ESCALADA AV.',
       'LA PLATA AV. y GOYENA, PEDRO AV.',
       'TRELLES, MANUEL R. y DIAZ, CESAR, GRAL.',
       'ROCA, CNEL. AV. y PAZ, GRAL. AV.', 'MAZA y DON BOSCO',
       'PAZ, GRAL. AV. y PERON, EVA AV.', 'SAN JUAN AV. y LA RIOJA',
       'PASEO COLON AV. y MEXICO', 'RIVADAVIA AV. y MIRALLA',
       'VIEYTES y LUJAN', 'CACHI y TRAFUL', 'ROSARIO y LA PLATA AV.',
       'ENTRE RIOS AV. y CASEROS AV.', 'RIVADAVIA AV. 6350',
       'PAZ, GRAL. AV. y HUMAITA', 'GUALEGUAYCHU y PAZ, GRAL. AV.',
       'NAZCA AV. 365', 'PERON, EVA AV. 5249', 'SAN JUAN AV. y RINCON',
       'PERU 937', 'PUEYRREDON, HONORIO, DR. AV. y GALICIA',
       'DEL LIBERTADOR AV. y MANZANARES', 'PASEO COLON AV. 1019',
       'VALLE y BARCO CENTENERA DEL', 'AUTOPISTA PERITO MORENO KM. 0.6',
       'HUERGO, ING. AV. e INDEPENDENCIA AV.',
       'PILCOMAYO y BROWN, ALTE. AV.',
       'CERVANTES y BELAUSTEGUI, LUIS, DR.',
       'CALLAO AV. y LOPEZ, VICENTE',
       'OLIDEN y CHILAVERT, MARTINIANO, CORONEL', 'CONGRESO AV. y GALVAN',
       'MORENO, PERITO AV. y RIVERA INDARTE AV.', 'AUSTRALIA AV. 2800',
       'SAN PEDRITO AV. y RIVADAVIA AV.',
       'ISABEL LA CATOLICA y SALVADORES, CNEL.',
       'LAS HERAS GENERAL AV. y CALLAO AV.',
       'FERNANDEZ DE LA CRUZ F., GRAL. AV. y AUTOPISTA PRESIDENTE HECTOR J. CAMPORA',
       'ALCORTA, AMANCIO AV. y ZAVALETA',
       'MONTES DE OCA, MANUEL AV. y OLAVARRIA',
       'BARCO CENTENERA DEL y ROSARIO', 'ALVAREZ THOMAS AV. y DONADO',
       'AVELLANEDA AV. y BOYACA AV.',
       'RABANAL, FRANCISCO, INTENDENTE AV. y SAENZ AV.',
       'CASTRO y RONDEAU', 'BILBAO, FRANCISCO AV. y AZUL',
       'NAZCA AV. y GAONA AV.', 'PLAZA y ALVAREZ THOMAS AV.',
       'GAONA AV. y ARTIGAS, JOSE GERVASIO, GRAL.',
       'CABILDO AV. y AGUILAR', 'CAMARONES y LOPE DE VEGA AV.',
       'SANTA FE AV. 2320', 'RIVADAVIA AV. 6950',
       'SAN MARTIN AV. y ARGERICH',
       'CORDOBA AV. y URIBURU JOSE E., PRES.', 'RIVADAVIA AV. 1571',
       'FREIRE, RAMON, CAP. GRAL. y OLAGUER Y FELIU, VIRREY',
       'LA PLATA AV. y FERNANDEZ DE LA CRUZ, F., GRAL. AV.',
       'BRANDSEN y PERDRIEL', 'VILARDEBO, TEODORO y ALVAREZ JONTE AV.',
       'ALBERTI e INDEPENDENCIA AV.', 'ALVAREZ THOMAS AV. 879',
       'RIVADAVIA AV. y PEDERNERA', 'QUESADA 2300',
       'CABILDO AV. y JURAMENTO AV.',
       'CALIFORNIA y CARBONARI, FRANCISCO, CMTE.',
       'CARRIL, SALVADOR MARIA DEL AV. y NAZCA', 'SAN LUIS y AGUERO',
       'LUGONES 2430', 'INDEPENDENCIA AV. y JUJUY AV.',
       'RIVADAVIA AV. 11050', 'COMBATE DE LOS POZOS y HUMBERTO 1Â°',
       'CORDOBA AV. y THAMES', 'GARAY, JUAN DE AV. y SANCHEZ DE LORIA',
       'ESTADOS UNIDOS y PICHINCHA', 'ROSARIO y BARCO CENTENERA DEL',
       'ALEM, LEANDRO N. AV. y VIAMONTE', 'VARELA AV. y PRIMERA JUNTA',
       'PELLEGRINI, CARLOS y JUNCAL',
       'CORRIENTES AV. y LACROZE, FEDERICO AV.',
       'MONTES DE OCA, MANUEL AV. y FINOCHIETTO ENRIQUE DR.',
       'CARABOBO AV. y ALBERDI, JUAN BAUTISTA AV.', 'CORDOBA AV. 2215',
       'ESTADOS UNIDOS y URQUIZA, GRAL.', 'MORENO y HUERGO, ING. AV.',
       'AUTOPISTA DELLEPIANE LUIS TTE. GRAL. y MONTIEL',
       'IRIARTE, GRAL. AV. 3400', 'ALBERDI, JUAN BAUTISTA AV. 2968',
       'DEL LIBERTADOR AV. y ORTIZ DE OCAMPO',
       'CHAVEZ, JORGE y PAZ, GRAL. AV.',
       'URQUIZA, GRAL. y ESTADOS UNIDOS',
       'PARAGUAY y SANCHEZ DE BUSTAMANTE',
       'DE LOS CORRALES AV. y PAZ, GRAL. AV.',
       'CASTAÃ‘ARES AV. y RIVERA INDARTE AV.',
       'LARRAZABAL y GARZON, EUGENIO, GRAL. AV.',
       'PAZ, GRAL. AV. y FERNANDEZ DE LA CRUZ, F., GRAL. AV.',
       'MOREAU DE JUSTO, ALICIA AV. y COCHABAMBA',
       'ENTRE RIOS AV. y GARAY, JUAN DE AV.',
       'DIRECTORIO AV. y GUARDIA NACIONAL', 'PAVON AV. y COLOMBRES',
       '27 DE FEBRERO AV. y PERGAMINO', 'CORDOBA AV. y GASCON',
       '15 DE NOVIEMBRE DE 1889 1513', 'SALGUERO, JERONIMO y BERUTI',
       'LACARRA AV. y DELLEPIANE, LUIS, TTE. GRAL.',
       'AUTOPISTA PRESIDENTE HÃ‰CTOR J. CÃ\x81MPORA y ROCA, CNEL. AV.',
       'VARELA AV. y RABANAL, FRANCISCO, INTENDENTE AV.',
       'PAZ, GRAL. AV. y BERON DE ASTRADA',
       'RAWSON DE DELLEPIANE, ELVIRA AV. 150', 'PAZ, GRAL. AV. y ZAPIOLA',
       'FAMATINA y TABORDA, DIOGENES',
       'CASTAÃ‘ARES AV. y BONORINO, ESTEBAN, CNEL. AV.',
       'AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y SUAREZ AV.',
       'NAZCA AV. y RIVADAVIA AV.',
       'FIGUEROA ALCORTA, PRES. AV. y ECHEVERRIA',
       'RIVADAVIA AV. y JUJUY AV.',
       'DE LOS ITALIANOS AV. y GUEMES, MACACHA',
       'TUCUMAN y ALEM, LEANDRO N. AV.',
       'CORRIENTES AV. y GALLARDO, ANGEL AV.',
       'AUTOPISTA PERITO MORENO & PERON, EVA  AV.', 'MUÃ‘ECAS y SERRANO',
       'ARTIGAS, JOSE GERVASIO, GRAL. y TRES ARROYOS',
       'SOLIS e INDEPENDENCIA AV.', 'BOSCH, VENTURA y PAZ, GRAL. AV.',
       'PAZ, GRAL. AV. 14800', 'PERON, EVA AV. 5321',
       'PERON, JUAN DOMINGO, TTE. GENERAL y PUEYRREDON AV.',
       'RABANAL, FRANCISCO, INTENDENTE AV. y SAN PEDRITO',
       'MONROE y ALVAREZ THOMAS AV.', 'RIVADAVIA AV. y MANZONI',
       'AUTOPISTA DELLEPIANE LUIS TTE. GRAL. y LARRAZABAL',
       'AUTOPISTA PERITO MORENO y RESERVISTAS ARGENTINOS',
       'SAENZ AV. y VENTANA', 'PAZ, GRAL. AV. y FALCON, RAMON L.,CNEL.',
       'PAZ, GRAL. AV. y DE LOS CONSTITUYENTES AV.',
       'PAZ, GRAL. AV. 11200', 'NEWBERY, JORGE AV. y GUEVARA',
       'GAONA AV. y SEGUROLA AV.', 'MADERO, EDUARDO AV. 550',
       'AUTOPISTA ARTURO ILLIA y CASTILLO, RAMON S., PRES. AV.',
       'LA PLATA AV. y CASEROS AV.', 'BELGRANO AV. y PERU',
       'RIVADAVIA AV. 7013', 'ALSINA, ADOLFO y SANTIAGO DEL ESTERO',
       'BERMUDEZ 1893', 'SANTANDER 1974', 'LANTERI JULIETA 1400',
       'MAZA e INDEPENDENCIA AV.', 'PAZ, GRAL. AV. 5172',
       'OLIVERA AV. y ALBERDI, JUAN BAUTISTA AV.',
       'CASTAÃ‘ARES AV. y MORENO, PERITO AV.', 'SAN MARTIN AV. y TERRADA',
       'PERON, EVA AV. y MEDINA',
       'JUSTO, JUAN B. AV. y ALVAREZ JONTE AV.',
       'OBLIGADO RAFAEL, AV.COSTANERA 4650', 'MITRE, BARTOLOME y YATAY',
       'PAZ, GRAL. AV. 16080', 'CHACABUCO y SAN JUAN AV.',
       'DEL LIBERTADOR AV. 4100',
       'PAZ, GRAL. AV. y ALBERDI, JUAN BAUTISTA AV.',
       'CASTAÃ‘ARES AV. y GORDILLO, TIMOTEO', 'SALVIGNY y MOM',
       'LAMARCA, EMILIO 5402', 'SAN MARTIN AV. 5638',
       'CARRILLO, RAMON, DR. y FINOCHIETTO ENRIQUE DR.',
       'MEXICO y PICHINCHA', 'CANTILO, INT. y UDAONDO, GUILLERMO AV.',
       'DEL LIBERTADOR AV. 6326', 'CHICLANA AV. 3444',
       'BOYACA AV. y YERBAL', 'ENTRE RIOS AV. 1260',
       'PAZ, GRAL. AV. y JACQUES, AMADEO', 'ANTARTIDA ARGENTINA AV. 1325',
       'MITRE, BARTOLOME y SANCHEZ DE BUSTAMANTE',
       'FERNANDEZ DE LA CRUZ, F., GRAL. AV. y PAZ, GRAL. AV.',
       'SANTA FE AV. y AZCUENAGA', 'JUSTO, JUAN B. AV. y OROÃ‘O, NICASIO',
       'ALVAREZ, DONATO, TTE. GRAL. y YERBAL',
       'CORDOBA AV. y MADERO, EDUARDO AV.',
       'CAMARONES y ALVAREZ, DONATO, TTE. GRAL. AV.',
       'AUTOPISTA 25 DE MAYO y HUERGO, ING. AV.',
       'MORENO, PERITO AV. 3050', 'SUIPACHA 665', 'RIGLOS y FORMOSA',
       'LA RIOJA e INDEPENDENCIA AV.',
       'UDAONDO, GUILLERMO AV. y FIGUEROA ALCORTA, PRES. AV.',
       'SAN PEDRITO AV. y DIRECTORIO AV.', 'PUAN y SANTANDER',
       'ALBERDI, JUAN BAUTISTA AV. y ANDALGALA', 'LIMA y CONSTITUCION',
       'BOEDO AV. 650', 'DEL LIBERTADOR AV. y REPUBLICA DE LA INDIA',
       'PAZ, GRAL. AV. y CABILDO AV.', 'CASEROS AV. 1700',
       'AVELLANEDA AV. 1548', 'CIUDAD DE LA PAZ y MENDOZA',
       'SALGUERO, JERONIMO y HONDURAS AV.',
       'FILIBERTO, JUAN DE DIOS y OLAVARRIA',
       'ASTURIAS AV. y CASTAÃ‘ARES AV.', 'GANDARA 2976',
       'GUEVARA, TRINIDAD y MADERO, EDUARDO AV.', 'BOYACA AV. 305',
       'ARTILLEROS y LA PAMPA', 'AUTOPISTA PERITO MORENO e IRIGOYEN',
       '15 DE NOVIEMBRE DE 1889 y SANTIAGO DEL ESTERO',
       'ACOSTA, MARIANO AV. y FALCON, RAMON L.,CNEL.',
       '11 DE SEPTIEMBRE DE 1888 y MENDOZA',
       'PINO, VIRREY DEL y CAMPOS, LUIS M. AV.', 'FOREST AV. y MAURE',
       'BOYACA AV. y AVELLANEDA AV.', 'BARCO CENTENERA DEL y TILCARA',
       'RIESTRA AV. y BOLIVAR (NO OFICIAL)', 'CASTRO, EMILIO 4706',
       '27 DE FEBRERO AV. 5600', 'GARAY, JUAN DE AV. 2874',
       'SCALABRINI ORTIZ, RAUL AV. y GORRITI',
       'PRIMERA JUNTA y OLIVERA AV.', 'ALBERDI, JUAN BAUTISTA AV. y AZUL',
       'ALVAREZ THOMAS AV. 1788',
       'LUGONES, LEOPOLDO AV. y PAZ, GRAL. AV.', 'SAN ANTONIO y LUJAN',
       'FIGUEROA ALCORTA, PRES. AV. y TAGLE',
       'EINSTEIN, ALBERTO y ALCORTA, AMANCIO AV.', 'AGRELO y COLOMBRES',
       'CABILDO AV. y PAZ, GRAL. AV.', 'ELCANO AV. 4300',
       'RABANAL, FRANCISCO, INTENDENTE AV. 2428', 'MONTE y CORVALAN',
       'TANDIL y LAFUENTE', 'CARDOSO y BACACAY', 'CORRIENTES AV. 6700',
       'ALVAREZ THOMAS AV. y MENDOZA',
       'BROWN, ALTE. AV. y BLANES, JUAN MANUEL',
       'ALBERDI, JUAN BAUTISTA AV. 5455', 'JUSTO, JUAN B. AV. y CAMARGO',
       'BRIN, MINISTRO y SUAREZ', 'NIZA y JUSTO, JUAN B. AV.',
       'CAMARGO y SERRANO', 'CASEROS AV. y PIEDRAS',
       'AUTOPISTA PERITO MORENO KM. 5.6', 'GUZMAN 365',
       'DE LOS CONSTITUYENTES AV. 4300',
       'MORENO, PERITO AV. y TILCARA AV.', 'IBARROLA y GORDILLO, TIMOTEO',
       'RIVADAVIA AV. y PERGAMINO', 'SANTO TOME y SEGUROLA AV.',
       'URIARTE y LOYOLA', 'SARAZA y VARELA AV.',
       'RIVADAVIA AV. y COMBATE DE LOS POZOS',
       'RODRIGUEZ PEÃ‘A y RIVADAVIA AV.',
       '24 DE NOVIEMBRE y SAN JUAN AV.', 'LAFUENTE AV. 2250',
       'CHILE y LIMA', 'CORDOBA AV. y JAURES, JEAN',
       'PERON, JUAN DOMINGO, TTE. GENERAL y SALGUERO, JERONIMO',
       '9 DE JULIO AV. y SAN JUAN AV.', 'COLOMBRES 466', 'MEXICO 2860',
       'COMBATIENTES DE MALVINAS AV. y TRIUNVIRATO AV.',
       'BERMUDEZ y NOGOYA', 'BRASIL AV. y PASEO COLON AV.',
       'ALEM, LEANDRO N. AV. 770', 'BELGRANO AV. y RINCON',
       'UDAONDO, GUILLERMO AV. 901', 'CONSTITUCION y CASTRO',
       'PUEYRREDON AV. y GOMEZ, VALENTIN', 'BRAVO, MARIO 1279',
       'ARAOZ DE LAMADRID, GREGORIO, GRAL. y BROWN, ALTE. AV.',
       'MURGUIONDO 1339', 'RIVADAVIA AV. 2551',
       'DELLEPIANE, LUIS, TTE. GRAL. y MONTIEL',
       'SCALABRINI ORTIZ, RAUL AV. y WARNES AV.',
       'PAZ, GRAL. AV. y ROFFO, ANGEL H., DR.', 'SAN MARTIN AV. 1550',
       'GARZON, EUGENIO, GRAL. AV. y LARRAYA', 'CORRIENTES AV. y SERRANO',
       'MITRE, BARTOLOME y ANCHORENA, TOMAS MANUEL DE, DR.',
       'AUTOPISTA 25 DE MAYO y PUMACAHUA',
       'SCALABRINI ORTIZ, RAUL AV. y PARAGUAY',

Se observa, al igual que en las columnas "Calle" y "Cruce", que hay registros que tienen números en su nombre, por eso se da este doble tipo de dato. A los nulos se decidió que se eliminaran dado que representan el 1% de los datos.

In [77]:
data_hechos = data_hechos.dropna(subset=['Direccion_normalizada'])

Se cambiará el tipo de dato de la columna a unicamente string, para manipular un solo tipo de dato en la columna.

In [78]:
data_hechos['Direccion_normalizada'] = data_hechos['Direccion_normalizada'].astype(str)

Se revisa que estén todos los cambios hechos y se continúa con el resto de las columnas para revisar sus valores.

In [79]:
Herr.analizar_datos(data_hechos)

,Nombre,Tipos de Datos Únicos,% de Valores No Nulos,% de Valores Nulos,Cantidad de Valores Nulos
0,Id_hecho,[<class 'str'>],100.00,0.00,0
1,Nro_victimas,[<class 'int'>],100.00,0.00,0
2,Anio,[<class 'int'>],100.00,0.00,0
3,Mes,[<class 'int'>],100.00,0.00,0
4,Dia,[<class 'int'>],100.00,0.00,0
5,Hora,[<class 'int'>],100.00,0.00,0
6,Lugar_hecho,[<class 'str'>],100.00,0.00,0
7,Tipo_calle,[<class 'str'>],100.00,0.00,0
8,Calle,[<class 'str'>],100.00,0.00,0
9,Altura,[<class 'float'>],18.78,81.22,558
10,Cruce,[<class 'str'>],100.00,0.00,0
11,Direccion_normalizada,[<class 'str'>],100.00,0.00,0
12,Comuna,[<class 'int'>],100.00,0.00,0
13,Xy_plana,[<class 'str'>],100.00,0.00,0
14,Long_x,[<class 'str'>],100.00,0.00,0
15,Lat_y,[<class 'str'>],100.00,0.00,0
16,Participantes,[<class 'str'>],100.00,0.00,0
17,Victima,[<class 'str'>],100.00,0.00,0
18,Acusado,[<class 'str'>],100.00,0.00,0

Seguiré el orden de las columnas para las transformaciones, exceptuando las que ya fueron tratadas, las cuales son "Horas", "Calle", "Cruce" y "Dirección_normalizada".

#### Revisión de la columna ``Id_hecho``

In [80]:
data_hechos['Id_hecho'].value_counts()

Id_hecho
2016-0001    1
2019-0050    1
2019-0042    1
2019-0043    1
2019-0044    1
            ..
2017-0113    1
2017-0114    1
2017-0115    1
2017-0116    1
2021-0097    1
Name: count, Length: 687, dtype: int64

Ya se revisó que no hay duplicados en el dataframe. El conteo de valores muestra que todos tienen un id diferente, y además, por la longitud indicada, se puede afirmar que todos los ids son correctos.

#### Revisión de la columna ``Nro_victimas``

In [91]:
data_hechos['Nro_victimas'].value_counts()

Nro_victimas
1    668
2     18
3      1
Name: count, dtype: int64

No se observan valores raros o fuera de rango.

#### Revisión de la columna ``Anio``

In [90]:
data_hechos['Anio'].value_counts()

Anio
2018    142
2016    141
2017    129
2019    102
2021     96
2020     77
Name: count, dtype: int64

No se observan valores raros o fuera de rango.

#### Revisión de la columna ``Mes``

Dado que los meses del año están indicados con números, los pasaremos a sus nombres completos para una lectura más rápida y sencilla de la información.

In [83]:
meses = { 
        1:'Enero',
        2:'Febrero',
        3:'Marzo',
        4:'Abril',
        5:'Mayo',
        6:'Junio',
        7:'Julio',
        8:'Agosto',
        9:'Septiembre',
        10:'Octubre',
        11:'Noviembre',
        12:'Diciembre'  }

In [84]:
data_hechos['Mes'] = data_hechos['Mes'].map(meses)

In [89]:
data_hechos['Mes'].value_counts()

Mes
Diciembre     77
Noviembre     66
Agosto        65
Enero         62
Mayo          58
Junio         58
Febrero       56
Julio         51
Marzo         50
Octubre       50
Abril         47
Septiembre    47
Name: count, dtype: int64

No se observan valores raros o fuera de rango.

#### Revisión de la columna ``Dia``

In [98]:
data_hechos['Dia'].unique()

array([ 1,  2,  3, 10, 21, 24, 29,  8, 14, 15, 17, 28,  4, 12, 13, 19, 23,
       30, 31, 11, 20, 22, 25, 26, 16, 18, 27,  7,  9,  5,  6],
      dtype=int64)

No se observan valores raros o fuera de rango.

#### Revisión de la columna ``Lugar_hecho``

In [99]:
data_hechos['Lugar_hecho'].unique()

array(['AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ',
       'AV GRAL PAZ  Y AV DE LOS CORRALES', 'AV ENTRE RIOS 2034',
       'AV LARRAZABAL Y GRAL VILLEGAS CONRADO',
       'AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA ',
       'AV 27 DE FEBRERO Y AV ESCALADA', 'NOGOYA Y JOAQUIN V. GONZALES',
       'AV GENERAL PAZ Y AV DE LOS CORRALES',
       'AV BELGRANO Y BERNARDO DE IRIGOYEN', 'AV ENTRE RIOS 1366',
       'AV SCALABRINI ORTIZ Y VERA',
       'AV REGIMIENTO DE PATRICIOS Y QUINQUELA MARTIN BENITO',
       'MARIANO ACOSTA Y ANA MARIA JANER',
       'LISANDRO DE LA TORRE Y SEVERO GARCIA GRANDE DE ZEQUEIRA ',
       'SUIPACHA 156', 'AV DIRECTORIO Y CURAPALIGUE',
       'AV 9 DE JULIO Y ADOLFO ALSINA', 'AV GRAL PAZ Y AV 27 DE FEBRERO',
       'HOLMBERG Y VEDIA', 'CURAPALIGUE Y AVELINO DIAZ',
       'VIAMONTE Y AV 9 DE JULIO', 'AV CABILDO Y DEHEZA',
       'AV GRAL PAZ Y AV CNEL ROCA', 'AV AMANCIO ALCORTA Y BONAVENA',
       'AV CORRIENTES Y AV CALLAO', 'HERRERA Y ARISTOBULO DEL VALLE',
       'AV. EVA PERON Y QUIRNO', 'AV GRAL PAZ COLECTORA Y ZUVIRIA',
       'BARTOLOME MITRE Y AV PUEYRREDON',
       'AV DIRECTORIO Y RIVERA INDARTE',
       'DELLEPIANE LUIS TTE GRAL COLECTORA Y MURGUIONDO',
       'AV JOSE MARIA MORENO Y BALBASTRO',
       'AV GRAL PAZ Y AV DEL LIBERTADOR', 'LIMA 1483',
       'AV. CORRIENTES Y AV. DORREGO',
       'AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM. 0,700',
       'TIMOTEO GORDILLO Y AV FERNANDEZ DE LA CRUZ',
       'AV TRIUNVIRATO Y AV OLAZABAL', 'AU LUIS DELLEPIANE Y AV GRAL PAZ',
       'RAMON CASTILLA Y AV FIGUEROA ALCORTA', 'AV LUIS MARIA CAMPOS 30',
       'LIMA 1471', 'PASAJE CIUDADELA Y LIMA OESTE',
       'AV JUAN B JUSTO Y AV CARRASCO', 'AV GAONA Y ESPINOSA',
       'AV LISANDRO DE LA TORRE Y SARAZA',
       'AV FIGUEROA ALCORTA Y AV PUEYRREDON',
       'AV ENTRE RIOS Y PASAJE FILIBERTO', 'MAGARIÑOS CERVANTES 3900',
       'AV GRAL PAZ Y RODOLFO SCAPINO',
       'AUTOPISTA DELLEPIANE LUIS TTE GRAL Y MIRALLA',
       'AV SAN MARTIN Y CAMARONES',
       'TTEG JUAN D PERON Y AVDA LEANDRO N ALEM',
       'AV BELGRANO Y AV JUJUY',
       'AV DEL LIBERTADOR Y AV GUILLERMO UDAONDO',
       'AV GRAL PAZ Y AV RIVADAVIA', 'AV CRISOLOGO LARRALDE Y MACHAIN',
       'AV LA PLATA 2384', 'AV JUAN B ALBERDI Y PUAN',
       'CARLOS PELLEGRINI Y TUCUMAN',
       'AVDA ITE FRANCISCO RABANAL & AVDA EREZCANO',
       'AV OLIVERA Y RAMON FALCON',
       'AUTOPISTA 1 SUR PTE ARTURO FRONDIZI Y AV CASEROS',
       'CERETTI Y NUÑEZ', 'AV LUGONES Y LA PAMPA',
       'JERONIMO SALGUERO Y AV RIVADAVIA', 'AV GRAL PAZ Y AV LIBERTADOR ',
       'AV JUAN B ALBERDI Y EMILIO MITRE', 'MERCEDES Y AV GRAL MOSCONI',
       'AUTOPISTA DELLEPIANE LUIS TTE. GRAL. KM. 2,3', 'SOLIS Y MEXICO',
       'AV SAN JUAN Y ALBERTI', 'AV GRAL MOSCONI Y AV GRAL PAZ',
       'AV GRAL PAZ  Y DONADO', 'AV GRAL PAZ Y JORGE CHAVEZ',
       'AV EVA PERON Y JOSE LEON SUAREZ',
       'ZINNY Y AV SANTIAGO DE COMPOSTELA', 'AV FEDERICO LACROZE Y FRAGA',
       'CARLOS PELLEGRINI Y AV DEL LIBERTADOR',
       'AUTOPISTA 9 DE JULIO SUR ALT AV MENDOZA',
       'AUTOPISTA PERITO MORENO Y BARRAGAN', 'AV ALBERDI Y CARHUE',
       'AUTOPISTA LEOPOLDO LUGONES Y LA PAMPA',
       'AUTOPISTA 25 DE MAYO AUTOPISTA 1 SUR ARTURO FRONDIZI',
       'AV JUAN BAUTISTA ALBERDI Y GUARDIA NACIONAL', 'SALGUERO 1410',
       'ARIAS Y TRONADOR', 'AV DEL LIBERTADOR Y TAGLE',
       'AUTOPISTA 1 SUR PTE ARTURO FRONDIZI KM 2.9',
       'CRISOLOGO LARRALDE Y AVDA TRIUNVIRATO', 'AV EVA PERON 4233',
       'AV ASAMBLEA Y AV CNEL ESTEBAN BONORINO',
       'AVDA RIVADAVIA Y RIVERA INDARTE',
       'AUTOPISTA PERITO MORENO Y AV JUAN B ALBERDI',
       'IRIGOYEN Y TINOGASTA', 'AV MARIANO ACOSTA Y AV CNEL ROCA',
       'CASTRO Y AV PAVON', 'AUTOPISTA 9 DE JULIO SUR Y AV BRASIL',
       'MIRAVE 3500', 'AV SAN JUAN Y 24 DE NOVIEMBRE',
       'AV LAS HERAS Y SANCHEZ DE BUSTAMANTE',
       'AV PIEDRA BUENA Y 2 DE ABRIL 1982',
       'AV FIGUEROA ALCORTA  Y PINEDO', 'AV SAN MARTIN Y LADINES',
       'AV CABILDO Y BLANCO ENCALADA',
       'AV PRESIDENTE FIGUEROA ALCORTA Y AV DORREGO',
       'AV JURAMENTO Y VUELTA DE OBLIGADO',
       'AV DEL LIBERTADOR Y AV RAMOS MEJIA', 'AV. ALTE. BROWN 984',
       'AV DEL LIBERTADOR Y LA PAMPA', 'PICHINCHA Y AV BRASIL',
       'AV INDEPENDENCIA Y VIRREY CEVALLOS', 'AV GARMENDIA 4895',
       'AV AMANCIO ALCORTA Y DIOGENES TABORDA',
       'AV PERITO MORENO Y ZUVIRIA', 'ARAOZ Y AV CORDOBA',
       'AV GRAL PAZ 15200', 'MADERO 900', 'AV INDEPENDENCIA Y DEAN FUNES',
       'AV JUAN B JUSTO 5645', 'AUTOPISTA PERITO MORENO ALTURA VELZ',
       'AV SANTA FE Y GODOY CRUZ', 'AV FEDERICO LACROZE Y AV FOREST',
       'AV GRAL PAZ Y AV GENERAL MOSCONI',
       'AV LA PLATA Y CNEL GREGORIO POMAR', 'AV MARTIN GARCIA 300',
       'NUÑEZ Y AV RICARDO BALBIN', 'AV GRAL PAZ 4500',
       'AU BUENOS AIRES - LA PLATA Y AU 25 DE MAYO', 'AV GARAY Y CASTRO',
       'AV DIRECTORIO Y AV SAN PEDRITO', 'AUTOPISTA 25 DE MAYO',
       'CNEL RAMON L FALCON Y MEMBRILLAR', 'AV BELGRANO Y AV PASEO COLON',
       'ARENALES 3319', 'REPUBLICA BOLIVARIANA DE VENEZUELA Y SAAVEDRA',
       'AV. JUAN B JUSTO Y ACHUPALLAS', 'OLAVARRIA Y AV. VELEZ SARSFIELD',
       'LIMA Y MEXICO', 'JOSE A CABRERA Y BONPLAND',
       'AU 25 DE MAYO Y AV. BOEDO', 'AV. DIRECTORIO Y RIGLOS',
       'AV. GRAL. PAZ Y AV. R. BALBIN', 'TRAFUL Y DIOGENES TABORDA',
       'IRIARTE 3055', 'AV. DONADO Y ARIAS', 'CORDOBA AV. Y CALLAO',
       'AU 25 DE MAYO, KILOMETRO 8.3, SENTIDO HACIA PROVINCIA DE BUENOS AIRES, C.A.B.A.',
       'AV. JUAN B JUSTO Y PARAGUAY',
       'AV. GRAL. PAZ Y AV. DE LOS CORRALES', 'SARMIENTO Y LIBERTAD',
       'AV. RIVADAVIA 7121', 'AV. FERNANDEZ DE LA CRUZ Y RIVERA INDARTE',
       'AV. PERITO MORENO Y FOURNIER', 'AV. CASEROS 1429',
       'AV. GAONA Y FRAGATA SARMIENTO', 'MOZART Y TANDIL',
       'MOZART Y COLECTORA AV. TTE. LUIS J DELLEPIANE',
       '24 DE NOVIEMBRE Y PAVON ', 'AV. GRAL. PAZ Y PEDRO DE MENDOZA',
       'AV. GRAL. PAZ KM. 10', 'GODOY CRUZ 2651',
       'AV. DR. TRISTAN ACHAVAL RODRIGUEZ Y BLVD. AZUCENA VILLAFLOR',
       'CURUPAYTI Y COLECTORA AV. GRAL. PAZ',
       'AV. INDEPENDENCIA Y VIRREY CEVALLOS', 'AV. CASTAÑARES Y LAUTARO',
       'CAMINO CIUDAD UNUVERSITARIA Y AV. TTE. GUIRALDES',
       'BALDOMERO FERNANDEZ MORENO 2186', 'AV. LEOPOLDO LUGONES PKM 6900',
       'NOGOYA 5940', 'AV. ARGENTINA Y AV. CORVALAN',
       'AV. FERNANDEZ DE LA CRUZ Y VARELA',
       'AV. GRAL. PAZ Y GOLETA JULIA', 'VIEYTES Y VILLARINO',
       'AV. DE LOS CONSTITUYENTES Y PEDRO MORAN',
       'AV. DE LOS CONSTITUYENTES 4900', 'AV. CORDOBA Y LIBERTAD',
       'BRASIL Y LIMA', 'AV. ESCALADA Y AV. FERNANDEZ DE LA CRUZ',
       'PARAGUAY Y AV. CALLAO ', 'AV. JUAN B JUSTO Y SAN BLAS',
       'CHILE Y AV. 9 DE JULIO', 'MAIPU Y PERON', 'AV. SUAREZ Y HERRERA',
       'AV. SAN MARTIN Y FRAGATA SARMIENTO',
       'AV. DIRECTORIO Y AV. JOSE MARIA MORENO',
       'AV. TTE. FRANCISCO RABANAL 2950',
       'AV. GRAL. PAZ Y ULRICO SCHMIDL', 'NUEVA YORK  3696',
       'AV. DE LOS CONSTITUYENTES Y VALLEJOS', 'AV. CORRIENTES Y ECUADOR',
       'CASCO 133', 'AV. DE MAYO Y AV. 9 DE JULIO',
       'AV. RAMON CASTILLO Y CALLE 12',
       'FRAY JUSTO SANTAMARIA DE ORO 1930', 'MEXICO Y DEAN FUNES',
       'AV. JUAN B ALBERDI Y AV. ESCALADA', 'AV. ENTRE RIOS Y AV. BRASIL',
       'AV. JUAN B ALBERDI Y GUARDIA NACIONAL',
       'AV. DEL LIBERTADOR Y RODRIGUEZ PEÑA',
       'TACUARI Y AV. MARTIN GARCIA', 'AV. RIVADAVIA Y MURGUIONDO',
       '24 DE NOVIEMBRE 390', 'AV. PASEO COLON Y BRASIL',
       'MARTINIANO LEGUIZAMON 901',
       'AV. CHIVILCOY Y COLECTORA AV. GRAL. PAZ ',
       'SUPERI Y AV. GRAL. PAZ',
       'AU 25 DE MAYO Y AU FRONDIZI (9 DE JULIO SUR)',
       'AV. LEOPOLDO LUGONES KM 7,5, ALTURA PUENTE SCALABRINI ORTIZ, SENTIDO A CENTRO PORTEÑO',
       'VICTOR HUGO 2639', 'AV. CORDOBA Y JERONIMO SALGUERO',
       'AV. CABILDO Y NUÑEZ', 'JOSE BONIFACIO 2114',
       'AV. PTE FIGUEROA ALCORTA 5400', 'VENEZUELA 2135',
       'AV. FCO. LACROZE Y ZAPATA', 'IRIARTE Y ZAVALETA',
       'AV. 9 DE JULIO Y ESTADOS UNIDOS',
       'FRAY JUSTO SANTAMARIA DE ORO Y GUEMES',
       'AV. DEL LIBERTADOR Y JARAMILLO', 'AV. GRAL. PAZ Y MACHAIN',
       'AV. DIRECTORIO Y PORTELA', 'LAVALLE Y AV. LEANDRO N ALEM',
       'USPALLATA Y PIROVANO', 'AU 25 DE MAYO Y AV. VARELA',
       'AV. SANTA FE Y MAIPU', 'AV. ALVEAR Y AV. DEL LIBERTADOR',
       'AV. PAVON Y TREINTA Y TRES ORIENTALES',
       'COLECTORA AV. GRAL. PAZ 5750', 'VIEYTES Y CRUZ',
       'AU DELLEPIANE Y AV. ESCALADA', 'ALBARIÑO Y AV. ARGENTINA',
       'JUAN RAMIREZ DE VELAZCO 1211',
       'AV. FERNANDEZ DE LA CRUZ Y LARRAYA',
       'AV. RIESTRA Y CAÑADA DE GOMEZ', 'GALLO Y AV. CORDOBA',
       'DR. JUAN F. ARANGUREN 611', 'AU PERITO MORENO Y AU 25 DE MAYO',
       'CHORROARIN Y AV. SAN MARTIN', 'COSQUIN Y AV. CNEL. ROCA',
       'AV. CNEL. ROCA 3555', 'AV. WARNES Y PUNTA ARENAS',
       'DEL BARCO CENTENERA Y RABANAL',
       'AV. GRAL. ENRIQUE MOSCONI Y SAN NICOLAS',
       'AV. LAFUENTE Y AV. EVA PERON', 'AV. CNEL. ROCA Y AV. ESCALADA',
       'AU ARTURO FRONDIZI PKM 3100', 'AV. LA PLATA Y AV. PEDRO GOYENA',
       'TRELLES Y GRAL. CESAR DIAZ',
       'AV. CNEL. ROCA Y COLECTORA AV. GRAL. PAZ', 'MAZA Y DON BOSCO',
       'AV. GRAL. PAZ Y AV. EVA PERON', 'AV. SAN JUAN Y LA RIOJA',
       'AV. PASEO COLON Y MEXICO', 'AV. RIVADAVIA Y MIRALLA',
       'VIEYTES Y LUJAN', 'CACHI Y TRAFUL', 'ROSARIO Y AV. LA PLATA',
       'AV. ENTRE RIOS Y AV. CASEROS ', 'AV. RIVADAVIA 6350',
       'AV. GRAL. PAZ Y HUMAITA', 'GUALEGUAYCHU Y COLECTORA AV. GRAL PAZ',
       'AV. NAZCA 365', 'AV. EVA PERON 5249', 'San Juan Av. Y Rincón',
       'Peru 937', 'Pueyrredon, Honorio, Dr. Av. y Galicia',
       'Del Libertador Av. y Manzanares', 'Paseo Colon Av. 1019',
       'Valle y Barco Centenera Del', 'AU Perito Moreno  KM 0.6',
       'Huergo, Ing. Av. e Independencia Av.',
       'Pilcomayo y Brown, Alte. Av.',
       'Cervantes y Belaustegui, Luis, Dr.', 'Callao y Vte. Lopez',
       'Oliden y Chilavert, Martiniano, Coronel', 'Congreso Av. y Galvan',
       'Moreno, Perito Av. y Rivera Indarte', 'Australia Av. 2800',
       'Del Libertador Av. y Ramos Mejia, Jose Maria, Dr. Av.',
       'San Pedrito Av. y Rivadavia Av.',
       'Isabel La Catolica y Salvadores, Cnel.',
       'Las Heras General Av. y Callao Av.',
       'Fernandez de la Cruz Subida AU Héctor J. Cámpora',
       'AMANCIO ALCORTA Y ZAVALETA', 'Montes De Oca, Manuel y Olavarria',
       'Barco Centenera Del y Rosario', 'Alvarez Thomas Av. y Donado',
       'Av. Avellaneda y Av. Boyacá',
       'Rabanal, Francisco, Intendente Av. y Saenz Av.',
       'Castro y Rondeau', 'Bilbao, Francisco Av. y Azul',
       'Nazca Av. y Gaona Av.', 'Plaza y Alvarez Thomas Av.',
       'Gaona Av. y Artigas, Jose Gervasio, Gral.',
       'Cabildo Av. y Aguilar', 'Camarones y Lope De Vega Av.',
       'Santa Fe Av. 2320', 'Av. Rivadavia 6950',
       'Av. San Martín y Argerich',
       'Cordoba Av. y Uriburu Jose E., Pres.', 'AV. RIVADAVIA 1571',
       'Ramon Freire y Virrey Olaguer y Feliu',
       'La Plata Av. y Fernandez De La Cruz, F., Gral. Av.',
       'BRANDSEN y PERDRIEL', 'Vilardebo, Teodoro y Alvarez Jonte Av.',
       'Alberti e Independencia Av.', 'Alvarez Thomas Av. 879',
       'Av. Gral. Paz y Av. Rivadavia', 'Av. Corrientes y Av. Dorrego',
       'Rivadavia Av. y Pedernera', 'Quesada 2300',
       'Cabildo Av. y Juramento Av.',
       'California y Carbonari, Francisco, Cmte.',
       'Carril, Salvador Maria Del Av. y Nazca', 'San Luis y Aguero',
       'Lugones 2430', 'Independencia Av. y Jujuy Av.',
       'Av. Rivadavia 11050', 'Combate De Los Pozos y Humberto 1°',
       'Cordoba Av. y Thames', 'Garay, Juan De Av. y Sanchez De Loria',
       'Lavalle y Alem, Leandro N. Av.', 'Estados Unidos y Pichincha',
       'Rosario y Barco Centenera Del', 'Av. Leandro N. Alem y Viamonte',
       'Varela Av. y Primera Junta', 'Pellegrini, Carlos y Juncal',
       'Av. Corrientes y Av. Federico Lacroze',
       'Montes De Oca, Manuel y Finochietto Enrique Dr.',
       'Carabobo Av. y Alberdi, Juan Bautista Av.',
       'Córdoba Av. 2215\n\n', 'Estados Unidos y Urquiza, Gral.',
       'Moreno y Av. Huergo',
       'AU Dellepiane kilometro 0.0, altura calle Montiel, sentido hacia el Centro Porteño',
       'Iriarte, Gral. Av. 3400', 'AV. JUAN B. ALBERDI 2968',
       'Del Libertador Av. y Ortiz De Ocampo',
       'Chavez, Jorge y Paz, Gral. Av.',
       'Urquiza, Gral. y Estados Unidos',
       'Paraguay y Sánchez De Bustamante',
       'De Los Corrales Av. y Paz, Gral. Av.',
       'Alberdi, Juan Bautista Av. y Carhue',
       'Castañares Av. y Rivera Indarte Av.',
       'Larrazabal y Garzon, Eugenio, Gral. Av.',
       'Paz, Gral. Av. y Fernandez De La Cruz, F., Gral. Av.',
       'Av. Alicia Moreau de Justo y Cochabamba',
       'Entre Rios Av. y Garay, Juan De Av.',
       'Directorio Av. y Guardia Nacional', 'Pavon Av. Y Colombres',
       'Av. Gral. Paz y Av. Dr. Ricardo Balbín', 'Pichincha Av. y Brasil',
       '27 De Febrero Av. y Pergamino',
       'AU Perito Moreno KM 1.8 ALTURA BARRAGAN SENTIDO PBA',
       'Cordoba Av. y Gascon', '15 De Noviembre De 1889 1513',
       'Salguero, Jeronimo y Beruti',
       'Lacarra Av. y Dellepiane, Luis, Tte. Gral.',
       'AU Héctor J. Cámpora y Roca, Cnel. Av.',
       'Av. Varela y Av. Int. Francisco Rabanal',
       'Av. Gral. Paz e/ Ferre y Beron de Astrada',
       'Elvira Rawson de Dellepiane 150', 'Paz, Gral. Av. y Zapiola',
       'FAMATINA Y DIOGENES TABORDA', 'Av. Castañares y Bonorino',
       'AU Frondizi 9 de Julio Sur y Av. Suarez',
       'Nazca Av. y Rivadavia Av.',
       'Figueroa Alcorta, Pres. Av. y Echeverria',
       'Rivadavia Av. y Jujuy Av.',
       'De Los Italianos Av. y Guemes, Macacha',
       'Tucuman y Alem, Leandro N. Av.',
       'Corrientes Av. y Gallardo, Angel Av.',
       'AU Perito Moreno y Av. Eva Perón SENTIDO CENTRO',
       'Muñecas y Serrano',
       'Artigas, Jose Gervasio, Gral. y Tres Arroyos',
       'Solis e Independencia Av.', 'Bosch, Ventura y Paz, Gral. Av.',
       'Paz, Gral. Av. 14800', 'Av. Eva Perón 5321',
       'Peron, Juan Domingo, Tte. General y Pueyrredon Av.',
       'Rabanal y San Pedrito', 'Monroe y Alvarez Thomas Av.',
       'Rivadavia Av. y Manzoni',
       'AU Dellepiane Luis Tte. Gral. y Larrazabal',
       'Paz, Gral. Av. y Peron, Eva Av.',
       'AU Perito Moreno y Reservistas Argentinos', 'Saenz Av. y Ventana',
       'Avda. General Paz y Cnel. Ramón Falcón',
       'Av. Gral. Paz y Av. de los Constituyentes',
       'Paz, Gral. Av. 11200', 'Newbery, Jorge Av. y Guevara',
       'Gaona Av. y Segurola Av.', 'Madero, Eduardo Av. 550',
       'AU Arturo Illia y Castillo, Ramon S.',
       'La Plata Av. y Caseros Av.', 'Belgrano Av. y Peru',
       'Rivadavia Av. 7013', 'Adolfo Alsina y Santiago del Estero',
       'Bermudez 1893', 'Santander 1974', 'Julieta Lanteri 1400',
       'Maza y Av. Independencia', 'PAZ, GRAL. AV. 5172',
       'Olivera Av. y Alberdi, Juan Bautista Av.',
       'CASTILLO, RAMON S., PRES. AV. Y CALLE 12',
       'CASTAÑARES AV. Y MORENO, PERITO AV.', 'SAN MARTIN AV. Y TERRADA',
       'PERON, EVA AV. Y MEDINA',
       'JUSTO, JUAN B. AV. Y ALVAREZ JONTE AV.',
       'OBLIGADO RAFAEL, AV. COSTANERA 4650', 'MITRE, BARTOLOME Y YATAY',
       'PAZ, GRAL. AV. 16080', 'CHACABUCO Y SAN JUAN AV.',
       'DEL LIBERTADOR AV. 4100',
       'PAZ, GRAL. AV. Y ALBERDI, JUAN BAUTISTA AV.',
       'CASTAÑARES AV. Y GORDILLO, TIMOTEO', 'SALVIGNY Y MOM',
       'LAMARCA, EMILIO 5402', 'SAN MARTIN AV. 5638',
       'CARRILLO, RAMON, DR. Y FINOCHIETTO ENRIQUE DR.',
       'MEXICO Y PICHINCHA', 'CANTILO, INT. Y UDAONDO, GUILLERMO AV.',
       'DEL LIBERTADOR AV. 6326', 'CHICLANA AV. 3444',
       'BOYACA AV. Y YERBAL',
       'ENTRE RIOS AV. BAJO PUENTE AUTOPISTA (1260 APROX)',
       'PAZ, GRAL. AV. Y JACQUES, AMADEO', 'ANTARTIDA ARGENTINA AV. 1325',
       'MITRE, BARTOLOME Y SANCHEZ DE BUSTAMANTE',
       'FERNANDEZ DE LA CRUZ, F. , GRAL. AV. Y LARRAZABAL',
       'SANTA FE AV. Y AZCUENAGA', 'JUSTO, JUAN B. AV. y OROÑO, NICASIO',
       'FERNANDEZ DE LA CRUZ, F. , GRAL. AV. Y LACARRA AV.',
       'ALVAREZ, DONATO, TTE. GRAL. Y YERBAL',
       'CORDOBA AV. Y MADERO, EDUARDO AV.',
       'CAMARONES Y ALVAREZ, DONATO, TTE. GRAL. AV.',
       'AUTOPISTA 25 DE MAYO Y HUERGO, ING. AV.',
       'MORENO, PERITO AV. 3050', 'SUIPACHA 665', 'RIGLOS Y FORMOSA',
       'LA RIOJA E INDEPENDENCIA AV.',
       'UDAONDO, GUILLERMO AV. Y FIGUEROA ALCORTA, PRES. AV.',
       'SAN PEDRITO AV. Y DIRECTORIO AV.', 'PUAN Y SANTANDER',
       'ALBERDI, JUAN BAUTISTA AV. Y ANDALGALA', 'LIMA Y CONSTITUCION',
       'BOEDO AV. 650', 'DEL LIBERTADOR AV. Y REPUBLICA DE LA INDIA',
       'GRAL PAZ Y CABILDO', 'CASEROS AV. 1700', 'AVELLANEDA AV. 1548',
       'CIUDAD DE LA PAZ Y MENDOZA', 'SALGUERO, JERONIMO Y HONDURAS AV.',
       'FILIBERTO, JUAN DE DIOS Y OLAVARRIA',
       'ASTURIAS AV. Y CASTAÑARES AV.', 'GANDARA 2976',
       'GUEVARA, TRINIDAD Y MADERO, EDUARDO AV.', 'BOYACA AV. 305',
       'ARTILLEROS Y LA PAMPA',
       'AUTOPISTA PERITO MORENO ALTURA PASO A NIVEL DE IRIGOYEN',
       '15 DE NOVIEMBRE DE 1889 Y SANTIAGO DEL ESTERO',
       'ACOSTA, MARIANO AV. Y FALCON, RAMON L., CNEL.',
       '11 DE SEPTIEMBRE DE 1888 Y MENDOZA',
       'PINO, VIRREY DEL Y CAMPOS, LUIS M. AV.', 'FOREST AV. Y MAURE',
       'BOYACA AV. Y AVELLANEDA AV,', 'BARCO CENTENERA DEL Y TILCARA',
       'RIESTRA AV. Y BOLIVAR', 'CASTRO, EMILIO 4706',
       '27 DE FEBRERO AV. 5600', 'GARAY, JUAN DE AV. 2874',
       'SCALABRINI ORTIZ, RAUL AV. y GORRITI',
       'PRIMERA JUNTA Y OLIVERA AV.', 'ALBERDI, JUAN BAUTISTA AV. Y AZUL',
       'ALVAREZ THOMAS AV. 1788',
       'LUGONES, LEOPOLDO AV. Y PAZ, GRAL. AV.', 'SAN ANTONIO Y LUJAN',
       'AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI ALTURA DON PEDRO DE MENDOZA AV.',
       'FIGUEROA ALCORTA, PRES. AV. Y TAGLE',
       'EINSTEIN, ALBERTO Y ALCORTA, AMANCIO AV.', 'AGRELO Y COLOMBRES',
       'CABILDO AV. y PAZ, GRAL. AV.', 'ELCANO AV. 4300',
       'RABANAL, FRANCISCO, INTENDENTE AV. 2428', 'MONTE Y CORVALAN',
       'TANDIL Y LA FUENTE', 'CARDOSO Y BACACAY', 'CORRIENTES AV. 6700',
       'ALVAREZ THOMAS AV. Y MENDOZA',
       'ALCORTA, AMANCIO AV. Y BONAVENA, OSCAR NATALIO',
       'BROWN, ALTE. AV. Y BLANES, JUAN MANUEL',
       'ALBERDI, JUAN BAUTISTA AV. 5455', 'JUSTO, JUAN B. AV. Y CAMARGO',
       'BRIN, MINISTRO Y SUAREZ', 'NIZA Y JUSTO, JUAN B. AV.',
       'CAMARGO Y SERRANO',
       'AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI ALTURA CASEROS AV.',
       'CASEROS AV. Y PIEDRAS', 'AUTOPISTA PERITO MORENO KM 5,6',
       'GUZMAN 365', 'de los constituyentes av. 4300',
       'MORENO, PERITO AV. Y TILCARA AV.', 'IBARROLA Y GORDILLO, TIMOTEO',
       'RIVADAVIA AV. Y PERGAMINO', 'SANTO TOME Y SEGUROLA AV.',
       'URIARTE Y LOYOLA', 'SARAZA Y VARELA AV.',
       'RIVADAVIA AV. Y COMBATE DE LOS POZOS',
       'RODRIGUEZ PEÑA Y RIVADAVIA AV.', '24 DE NOVIEMBRE Y SAN JUAN AV.',
       'LAFUENTE AV. 2250', 'CHILE Y LIMA ', 'CORDOBA AV. Y JEAN JAURES',
       'PERON, JUAN DOMINGO, TTE. GENERAL Y SALGUERO, JERONIMO',
       '9 DE JULIO AV. Y SAN JUAN AV.', 'COLOMBRES 466', 'MEXICO 2860',
       'COMBATIENTES DE MALVINAS AV. Y TRIUNVITARO AV.',
       'BERMUDEZ Y NOGOYA', 'BRASIL AV. Y PASEO COLON AV.',
       'ALEM,LEANDRO N. AV. 770', 'BELGRANO AV. Y RINCON',
       'UDAONDO, GUILLERMO AV. 901', 'CONSTITUCION Y CASTRO',
       'PUEYRREDON AV. Y GOMEZ, VALENTIN', 'BRAVO, MARIO 1279',
       'DELLEPIANE, LUIS, TTE. GRAL. Y ESCALADA AV.',
       'ARAOZ DE LAMADRID, GREGORIO, GRAL. Y BROWN, ALTE. AV.',
       'MURGUIONDO 1339', 'RIVADAVIA AV. 2551',
       'DELLEPIANE, LUIS, TTE. GRAL. Y MONTIEL',
       'SCALABRINI ORTIZ, RAUL AV. Y WARNES AV.',
       'PAZ, GRAL. AV. y ROFFO, ANGEL H., DR.', 'SAN MARTIN AV. 1550',
       'GARZON, EUGENIO, GRAL. AV. y LARRAYA', 'CORRIENTES AV. Y SERRANO',

No se observan valores atípicos o nulos.

#### Revisión de la columna ``Tipo_calle``

In [102]:
data_hechos['Tipo_calle'].value_counts()

Tipo_calle
AVENIDA      429
CALLE        135
AUTOPISTA    123
Name: count, dtype: int64

Se observa que hay cuatro valores, uno de ellos es "GRAL PAZ", la cual se está contabilizando aparte, pero es una autopista. Se le cambiará el nombre a "AUTOPISTA" para que se contabilice correctamente.

In [101]:
data_hechos['Tipo_calle'] = data_hechos['Tipo_calle'].str.replace('GRAL PAZ','AUTOPISTA')

Se verifica que el cambio se haya realizado adecuadamente.

In [103]:
data_hechos['Tipo_calle'].value_counts()

Tipo_calle
AVENIDA      429
CALLE        135
AUTOPISTA    123
Name: count, dtype: int64

#### Revisión de la columna ``Altura``

In [106]:
data_hechos['Altura'].unique()

array([   nan,  2034.,  1366.,   156.,  1483.,    30.,  1471.,  3900.,
        2384.,  1410.,  4233.,  3500.,   984.,  4895., 15200.,   900.,
        5645.,   300.,  4500.,  3319.,  3055.,  7121.,  1429.,  2651.,
        2699.,  2186.,  5940.,  4900.,  2950.,  3696.,   133.,  1930.,
         390.,   901.,  2639.,  2114.,  5400.,  2135.,  5750.,  1211.,
         611.,  3555.,  6350.,   365.,  5249.,   937.,  1019.,  2800.,
        2320.,  6950.,  1571.,   879.,  2300.,  2430., 11050.,  2215.,
        3400.,  2968.,  1513.,   150., 14800.,  5321., 11200.,   550.,
        7013.,  1893.,  1974.,  1400.,  5172.,  4650., 16080.,  4100.,
        5402.,  5638.,  6326.,  3444.,  1260.,  1325.,  3050.,   665.,
         650.,  1700.,  1548.,  2976.,   305.,  4706.,  5600.,  2874.,
        1788.,  4300.,  2428.,  6700.,  5455.,  2250.,   466.,  2860.,
         770.,  1279.,  1339.,  2551.,  1550.,   614.,  5437.,  1100.,
        1845.,  1118.,  3800.,  1675.,  1623., 10900.,  4000.,  5958.,
       14723.,  5783.,  2269.,  2723.,  2906.,  5071.,  3428.,  2730.,
        2152.,  1169.,  3112.,  1359.,  3655.,  4071.,   709.])

Rápidamente se observa que tenemos muy pocos valores con su numeración. Esto será tratado en el Análisis Exploratorio de los Datos (EDA) para poder revisar con más profundidad qué sucede con estos valores.

#### Revisión de la columna ``Comuna``

In [107]:
data_hechos['Comuna'].value_counts()

Comuna
1     90
4     74
9     72
8     65
7     59
3     45
15    44
13    39
12    37
14    33
11    31
10    29
2     25
5     22
6     21
0      1
Name: count, dtype: int64

Se ven los datos con normalidad y en orden. Continuaremos con la próxima columna.

#### Revisión de la columna ``Long_x``

In [110]:
data_hechos['Long_x'].value_counts()

Long_x
-58.44451316    5
-58.50073810    4
.               4
-58.46743471    4
-58.50877521    4
               ..
-58.39100580    1
-58.37697717    1
-58.45807401    1
-58.42023854    1
-58.37976155    1
Name: count, Length: 604, dtype: int64

Nos encontramos con 4 valores sin indicar. Revisaremos si sucede lo mismo en la columna "Lat_y" y, en ese caso, si son los mismos, rellenaremos los valores buscándolos en la columna "Xy_plana".

In [112]:
sindato_x = data_hechos[data_hechos['Long_x'] == '.']
sindato_x

,Id_hecho,Nro_victimas,Anio,Mes,Dia,Hora,Lugar_hecho,Tipo_calle,Calle,Altura,Cruce,Direccion_normalizada,Comuna,Xy_plana,Long_x,Lat_y,Participantes,Victima,Acusado
139,2016-0174,1,2016,Diciembre,27,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,No_data,AUTOPISTA 25 DE MAYO,0,Point (. .),.,.,SD-SD,SD,SD
176,2017-0042,1,2017,Abril,10,9,AV. LEOPOLDO LUGONES PKM 6900,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,No_data,"LUGONES, LEOPOLDO AV.",14,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
256,2017-0140,1,2017,Noviembre,19,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,No_data,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),.,.,MOTO-PASAJEROS,MOTO,PASAJEROS
559,2020-0039,1,2020,Septiembre,1,19,MURGUIONDO 2700,CALLE,MURGUIONDO,NaN,No_data,MURGUIONDO,9,Point (. .),.,.,PEATON-CARGAS,PEATON,CARGAS

#### Revisión de la columna ``Lat_y``

In [111]:
data_hechos['Lat_y'].value_counts()

Lat_y
-34.68475866    5
-34.54979510    4
.               4
-34.53476874    4
-34.66977709    4
               ..
-34.58498660    1
-34.59573848    1
-34.63997430    1
-34.64234110    1
-34.58679619    1
Name: count, Length: 604, dtype: int64

Tenemos la misma cantidad de datos sin indicar que en "Long_x". Revisaremos si coinciden los índices y, como dijimos previamente, buscaremos esos índices en "Xy_plana" para ver los valores y reemplazarlos en ambas columnas.

In [114]:
sindato_y = data_hechos[data_hechos['Lat_y'] == '.']
sindato_y

,Id_hecho,Nro_victimas,Anio,Mes,Dia,Hora,Lugar_hecho,Tipo_calle,Calle,Altura,Cruce,Direccion_normalizada,Comuna,Xy_plana,Long_x,Lat_y,Participantes,Victima,Acusado
139,2016-0174,1,2016,Diciembre,27,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,No_data,AUTOPISTA 25 DE MAYO,0,Point (. .),.,.,SD-SD,SD,SD
176,2017-0042,1,2017,Abril,10,9,AV. LEOPOLDO LUGONES PKM 6900,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,No_data,"LUGONES, LEOPOLDO AV.",14,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
256,2017-0140,1,2017,Noviembre,19,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,No_data,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,Point (. .),.,.,MOTO-PASAJEROS,MOTO,PASAJEROS
559,2020-0039,1,2020,Septiembre,1,19,MURGUIONDO 2700,CALLE,MURGUIONDO,NaN,No_data,MURGUIONDO,9,Point (. .),.,.,PEATON-CARGAS,PEATON,CARGAS

#### Revisión de la columna ``Xy_plana``

In [109]:
data_hechos['Xy_plana'].value_counts()

Xy_plana
Point (. .)                                6
Point (101721.59002217 93844.25656649)     5
Point (99620.34936816 110483.29286598)     4
Point (95832.05571093 95505.41641999)      4
Point (96563.66494817 108815.73881056)     4
                                          ..
Point (106632.70892338 104910.17381357)    1
Point (107918.77617420 103716.42961253)    1
Point (100479.14412395 98812.52258620)     1
Point (103948.02389064 98549.15451723)     1
Point (107664.16647795 104708.63962087)    1
Name: count, Length: 605, dtype: int64

Tenemos 6 valores faltantes en "Xy_plana". Revisaremos si son los mismos que en "Long_x" y "Lat_y".

In [96]:
Herr.analizar_datos(data_hechos)

,Nombre,Tipos de Datos Únicos,% de Valores No Nulos,% de Valores Nulos,Cantidad de Valores Nulos
0,Id_hecho,[<class 'str'>],100.00,0.00,0
1,Nro_victimas,[<class 'int'>],100.00,0.00,0
2,Anio,[<class 'int'>],100.00,0.00,0
3,Mes,[<class 'str'>],100.00,0.00,0
4,Dia,[<class 'int'>],100.00,0.00,0
5,Hora,[<class 'int'>],100.00,0.00,0
6,Lugar_hecho,[<class 'str'>],100.00,0.00,0
7,Tipo_calle,[<class 'str'>],100.00,0.00,0
8,Calle,[<class 'str'>],100.00,0.00,0
9,Altura,[<class 'float'>],18.78,81.22,558
10,Cruce,[<class 'str'>],100.00,0.00,0
11,Direccion_normalizada,[<class 'str'>],100.00,0.00,0
12,Comuna,[<class 'int'>],100.00,0.00,0
13,Xy_plana,[<class 'str'>],100.00,0.00,0
14,Long_x,[<class 'str'>],100.00,0.00,0
15,Lat_y,[<class 'str'>],100.00,0.00,0
16,Participantes,[<class 'str'>],100.00,0.00,0
17,Victima,[<class 'str'>],100.00,0.00,0
18,Acusado,[<class 'str'>],100.00,0.00,0